<!DOCTYPE html>
<html>
    <head>
        <title>
            Jovian Careers
        </title>
    </head>
<body>
   <h1>Jovian Careers</h1>
    <img src="https://03ec8f79-119b-4064-aa6d-64d3703e56b2-00-2kgyk872sped6.sisko.replit.dev/static/banner.jpg" height="320">
    <h2>About Jovian</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo risus quis euismod finibus. Proin ut nunc id dolor consectetur consectetur. Vestibulum mollis nec metus sed hendrerit. Fusce nec urna dolor. Aenean ullamcorper lectus mi, sed varius mauris aliquam eget. Maecenas a velit et mauris varius dapibus. Vivamus porttitor, ante id aliquet tincidunt, nulla lorem tempor nulla, mollis placerat sapien leo dictum neque.
    </p>
</body>
</html>